@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");
*,
*::after,
::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

*::-moz-selection {
  background-color: #BA4270;
  color: #FBFCFE;
}

*::selection {
  background-color: #BA4270;
  color: #FBFCFE;
}

body {
  font-family: "Public Sans", sans-serif;
  background-color: #Ecf3f8;
}

.main {
  position: relative;
  width: 100%;
  background-image: url("../img/main/mobile__main.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

ul,
ol,
li {
  list-style: none;
  list-style-type: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1110px;
  padding-left: 24px;
  padding-right: 24px;
  margin: 0 auto;
}

@media only screen and (min-width: 992px) {
  .main {
    background-image: url("../img/main/tablet__main.svg");
    background-size: unset;
    background-position: top right;
  }
}
.header {
  width: 100%;
  padding-top: 39px;
}
.header .container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0px;
}
.header .container .nav__wrapper {
  display: none;
}
.header .container .hamburger {
  width: 28px;
  height: 17px;
  background-image: url("../../img/header/hamburger.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media only screen and (min-width: 768px) {
  .header {
    width: 100%;
  }
  .header .container .logo__wrapper {
    margin-right: 64px;
    max-width: 165px;
  }
  .header .container .hamburger {
    display: none;
  }
  .header .container .nav__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 0px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .header .container .nav__wrapper ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 0px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .header .container .nav__wrapper ul li:not(:last-child) {
    margin-right: 40px;
  }
  .header .container .nav__wrapper ul li a {
    font-family: "Public Sans", sans-serif;
    font-weight: 700;
    font-size: 15px;
    color: #6d8395;
    margin-bottom: 0px;
    text-align: center;
  }
  .header .container .nav__wrapper ul li:hover a {
    color: #36536B;
  }
  .header .container .nav__wrapper .nav__btn {
    width: 173px;
    cursor: pointer;
  }
  .header .container .nav__wrapper .nav__btn button {
    cursor: pointer;
    width: 173px;
    height: 48px;
    border: none;
    background-color: #BA4270;
    border-radius: 24px;
    font-family: "Public Sans", sans-serif;
    font-weight: 700;
    font-size: 15px;
    color: #FBFCFE;
    margin-bottom: 0px;
    text-align: center;
  }
}
.banner {
  width: 100%;
  padding-top: 32px;
}
.banner .container {
  width: 100%;
}
.banner .container .left__content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0px;
  margin-bottom: 24px;
}
.banner .container .right__content h1 {
  margin: 0 auto;
  max-width: 327px;
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-size: 32px;
  color: #36536B;
  margin-bottom: 24px;
  text-align: center;
}
.banner .container .right__content form {
  width: 327px;
  margin: 0 auto;
  margin-bottom: 24px;
}
.banner .container .right__content form input {
  border-radius: 24px;
  width: 100%;
  height: 48px;
  -webkit-box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
          box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
  background: #fbfcfe;
  margin: 0 auto;
  margin-bottom: 16px;
  outline: none;
  border: none;
  padding-left: 27px;
}
.banner .container .right__content form input::-webkit-input-placeholder {
  font-family: "Public Sans", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 167%;
  letter-spacing: -0.01em;
  text-align: center;
  color: #6c8294;
  font-weight: 700;
  text-align: unset;
  color: #99a7b4;
}
.banner .container .right__content form input::-moz-placeholder {
  font-family: "Public Sans", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 167%;
  letter-spacing: -0.01em;
  text-align: center;
  color: #6c8294;
  font-weight: 700;
  text-align: unset;
  color: #99a7b4;
}
.banner .container .right__content form input:-ms-input-placeholder {
  font-family: "Public Sans", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 167%;
  letter-spacing: -0.01em;
  text-align: center;
  color: #6c8294;
  font-weight: 700;
  text-align: unset;
  color: #99a7b4;
}
.banner .container .right__content form input::-ms-input-placeholder {
  font-family: "Public Sans", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 167%;
  letter-spacing: -0.01em;
  text-align: center;
  color: #6c8294;
  font-weight: 700;
  text-align: unset;
  color: #99a7b4;
}
.banner .container .right__content form input::placeholder {
  font-family: "Public Sans", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 167%;
  letter-spacing: -0.01em;
  text-align: center;
  color: #6c8294;
  font-weight: 700;
  text-align: unset;
  color: #99a7b4;
}
.banner .container .right__content form button {
  width: 100%;
  height: 48px;
  border: none;
  background-color: #BA4270;
  border-radius: 24px;
  font-family: "Public Sans", sans-serif;
  font-weight: 700;
  font-size: 15px;
  color: #FBFCFE;
  margin-bottom: 0px;
  text-align: center;
}
.banner .container .right__content p {
  font-family: "Public Sans", sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #6C8294;
  margin-bottom: 0px;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .banner {
    padding-top: 48px;
  }
  .banner .container {
    width: 100%;
  }
  .banner .container .left__content {
    margin-bottom: 48px;
  }
  .banner .container .right__content h1 {
    margin-bottom: 22px;
    font-size: 48px;
    max-width: 573px;
  }
  .banner .container .right__content form {
    width: 445px;
    height: 48px;
    -webkit-box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
            box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
    background-color: #fbfcfe;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 0px;
    padding-left: 27px;
    border-radius: 24px;
    margin-bottom: 16px;
  }
  .banner .container .right__content form button {
    width: 173px;
  }
  .banner .container .right__content form input {
    all: unset;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 0px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    padding-right: 17px;
    margin-bottom: 0;
  }
}
@media only screen and (min-width: 992px) {
  .banner {
    width: 100%;
  }
  .banner .container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: unset;
        -ms-flex-align: unset;
            align-items: unset;
    gap: 0px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    padding-top: 76px;
  }
  .banner .container .right__content {
    width: 50%;
    margin: 0;
    padding-top: 78px;
  }
  .banner .container .right__content h1 {
    text-align: left;
  }
  .banner .container .right__content form {
    margin-left: 0;
  }
  .banner .container .right__content p {
    text-align: left;
  }
  .banner .container .left__content {
    width: 40%;
  }
  .banner .container .left__content img {
    width: 262px;
  }
}
.first__section {
  width: 100%;
  background-color: #1a262f;
  margin-top: 80px;
  padding-top: 80px;
  background-image: url("../../img/first__section/bg.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
.first__section .container {
  width: 100%;
}
.first__section .container .top__content {
  width: 100%;
  height: 204px;
  display: grid;
  grid-template-columns: auto auto;
  margin-bottom: 57px;
}
.first__section .container .top__content div {
  width: auto;
  display: block;
}
.first__section .container .top__content div:first-child {
  background-image: url("../../img/first__section/tesla.svg");
  background-repeat: no-repeat;
  background-size: unset;
  background-position: center;
}
.first__section .container .top__content div:nth-child(2) {
  background-image: url("../../img/first__section/microsoft.svg");
  background-repeat: no-repeat;
  background-size: unset;
  background-position: center;
}
.first__section .container .top__content div:nth-child(3) {
  background-image: url("../../img/first__section/hp.svg");
  background-repeat: no-repeat;
  background-size: unset;
  background-position: center;
}
.first__section .container .top__content div:nth-child(4) {
  background-image: url("../../img/first__section/oracle.svg");
  background-repeat: no-repeat;
  background-size: unset;
  background-position: center;
}
.first__section .container .top__content div:nth-child(5) {
  background-image: url("../../img/first__section/google.svg");
  background-repeat: no-repeat;
  background-size: unset;
  background-position: center;
}
.first__section .container .top__content div:last-child {
  background-image: url("../../img/first__section/nvidia.svg");
  background-repeat: no-repeat;
  background-size: unset;
  background-position: center;
}
.first__section .container .bottom__content {
  width: 100%;
  padding-bottom: 80px;
}
.first__section .container .bottom__content h2 {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-size: 32px;
  color: #FBFCFE;
  margin-bottom: 16px;
  text-align: center;
}
.first__section .container .bottom__content p {
  font-family: "Public Sans", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 167%;
  letter-spacing: -0.01em;
  text-align: center;
  color: #6c8294;
  margin-bottom: 60px;
}
.first__section .container .bottom__content .btn__Wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0px;
}
.first__section .container .bottom__content .btn__Wrapper button {
  cursor: pointer;
  width: 129px;
  height: 48px;
  border: none;
  background-color: transparent;
  border-radius: 24px;
  border: 1px solid #fbfcfe;
  font-family: "Public Sans", sans-serif;
  font-weight: 700;
  font-size: 15px;
  color: #FBFCFE;
  margin-bottom: 0px;
  text-align: center;
}
.first__section .container .bottom__content .btn__Wrapper button:hover {
  background-color: #FBFCFE;
  color: #36536B;
}

@media only screen and (min-width: 768px) {
  .first__section {
    margin-top: 100px;
    padding-top: 88px;
  }
  .first__section .container {
    width: 100%;
  }
  .first__section .container .top__content {
    width: 100%;
    margin-bottom: 64px;
    display: grid;
    grid-template-columns: auto auto auto;
  }
  .first__section .container .bottom__content {
    padding-bottom: 88px;
  }
  .first__section .container .bottom__content h2 {
    width: 100%;
    font-size: 48px;
  }
  .first__section .container .bottom__content p {
    max-width: 456px;
    margin: 0 auto;
    margin-bottom: 32px;
  }
}
@media only screen and (min-width: 992px) {
  .first__section {
    width: 100%;
    background-image: url("../../img/first__section/desktop_bg.svg");
    background-size: unset;
  }
  .first__section .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 0px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .first__section .container .top__content {
    width: 50%;
  }
  .first__section .container .bottom__content {
    width: 50%;
  }
  .first__section .container .bottom__content h2 {
    text-align: left;
    margin-bottom: 24px;
  }
  .first__section .container .bottom__content p {
    text-align: left;
    margin: 0;
    margin-bottom: 36px;
  }
  .first__section .container .bottom__content .btn__Wrapper {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 0px;
  }
}
.second__section {
  width: 100%;
  padding-top: 80px;
}
.second__section .container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0px;
}
.second__section .container .top__content {
  width: 328px;
  height: 209px;
  background-image: url("../../img/second__section/img.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 48px;
}
.second__section .container .bottom__content {
  width: 100%;
}
.second__section .container .bottom__content h2 {
  width: 100%;
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-size: 36px;
  color: #36536B;
  margin-bottom: 24px;
  text-align: center;
}
.second__section .container .bottom__content p {
  margin: 0 auto;
  font-family: "Public Sans", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 167%;
  letter-spacing: -0.01em;
  text-align: center;
  color: #6c8294;
}

@media only screen and (min-width: 768px) {
  .second__section {
    width: 100%;
    padding-top: 100px;
  }
  .second__section .container {
    width: 100%;
  }
  .second__section .container .top__content {
    width: 391px;
    height: 250px;
  }
  .second__section .container .bottom__content h2 {
    font-size: 48px;
  }
  .second__section .container .bottom__content p {
    max-width: 573px;
  }
}
@media only screen and (min-width: 992px) {
  .second__section {
    width: 100%;
  }
  .second__section .container {
    width: 100%;
    height: 284px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 0px;
  }
  .second__section .container .top__content {
    width: 50%;
    background-image: url("../../img/second__section/dec__img.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
  .second__section .container .bottom__content {
    width: 50%;
    height: 100%;
  }
  .second__section .container .bottom__content h2 {
    width: 100%;
    text-align: left;
  }
  .second__section .container .bottom__content p {
    max-width: 445px;
    text-align: left;
    margin: 0;
  }
}
.third__section {
  width: 100%;
  padding-top: 80px;
}
.third__section .container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0px;
}
.third__section .container .top__content {
  width: 327px;
  height: 289px;
  background-image: url("../../img/third__section/phones.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 48px;
}
.third__section .container .bottom__content {
  width: 100%;
}
.third__section .container .bottom__content h2 {
  width: 100%;
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-size: 36px;
  color: #36536B;
  margin-bottom: 24px;
  text-align: center;
}
.third__section .container .bottom__content p {
  margin: 0 auto;
  font-family: "Public Sans", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 167%;
  letter-spacing: -0.01em;
  text-align: center;
  color: #6c8294;
}

@media only screen and (min-width: 768px) {
  .third__section {
    width: 100%;
    padding-top: 100px;
  }
  .third__section .container {
    width: 100%;
  }
  .third__section .container .bottom__content h2 {
    font-size: 48px;
  }
  .third__section .container .bottom__content p {
    max-width: 573px;
  }
}
@media only screen and (min-width: 992px) {
  .third__section {
    width: 100%;
    padding-top: 140px;
    padding-bottom: 140px;
    background-image: url("../../img/third__section/bg.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
  }
  .third__section .container {
    width: 100%;
    height: 499px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 0px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .third__section .container .top__content {
    width: 50%;
    height: 100%;
    background-image: url("../../img/third__section/dec__phones.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    background-position: right top;
  }
  .third__section .container .bottom__content {
    width: 50%;
  }
  .third__section .container .bottom__content h2 {
    width: 100%;
    text-align: left;
  }
  .third__section .container .bottom__content p {
    max-width: 445px;
    text-align: left;
    margin: 0;
  }
}
.fourth__section {
  width: 100%;
  padding-top: 80px;
}
.fourth__section .container {
  width: 100%;
  display: grid;
  grid-template-columns: auto;
}
.fourth__section .container .card {
  padding: 10px;
  border-radius: 12px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  height: 100%;
}
.fourth__section .container .card .img__Wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0px;
  width: 106px;
  height: 106px;
  border-radius: 100%;
  background-color: #36536B;
  margin: 0 auto;
  margin-bottom: 33px;
}
.fourth__section .container .card .contanet {
  width: 100%;
}
.fourth__section .container .card .contanet h3 {
  cursor: pointer;
  font-family: "Public Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #36536B;
  margin-bottom: 16px;
  text-align: center;
}
.fourth__section .container .card .contanet p {
  font-family: "Public Sans", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 167%;
  letter-spacing: -0.01em;
  text-align: center;
  color: #6c8294;
}
.fourth__section .container .card:not(:last-child) {
  margin-bottom: 48px;
}
.fourth__section .container .card:hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

@media only screen and (min-width: 768px) {
  .fourth__section .container {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
  }
  .fourth__section .container .card {
    margin-bottom: 0;
  }
}
@media only screen and (min-width: 992px) {
  .fourth__section .container {
    gap: 30px;
  }
}
.last__section {
  width: 100%;
  padding-top: 80px;
}
.last__section .container {
  width: 100%;
}
.last__section .container h2 {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-size: 32px;
  color: #36536B;
  margin-bottom: 24px;
  text-align: center;
}
.last__section .container form {
  width: 327px;
  margin: 0 auto;
  margin-bottom: 24px;
}
.last__section .container form input {
  border-radius: 24px;
  width: 100%;
  height: 48px;
  -webkit-box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
          box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
  background: #fbfcfe;
  margin: 0 auto;
  margin-bottom: 16px;
  outline: none;
  border: none;
  padding-left: 27px;
}
.last__section .container form input::-webkit-input-placeholder {
  font-family: "Public Sans", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 167%;
  letter-spacing: -0.01em;
  text-align: center;
  color: #6c8294;
  font-weight: 700;
  text-align: unset;
  color: #99a7b4;
}
.last__section .container form input::-moz-placeholder {
  font-family: "Public Sans", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 167%;
  letter-spacing: -0.01em;
  text-align: center;
  color: #6c8294;
  font-weight: 700;
  text-align: unset;
  color: #99a7b4;
}
.last__section .container form input:-ms-input-placeholder {
  font-family: "Public Sans", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 167%;
  letter-spacing: -0.01em;
  text-align: center;
  color: #6c8294;
  font-weight: 700;
  text-align: unset;
  color: #99a7b4;
}
.last__section .container form input::-ms-input-placeholder {
  font-family: "Public Sans", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 167%;
  letter-spacing: -0.01em;
  text-align: center;
  color: #6c8294;
  font-weight: 700;
  text-align: unset;
  color: #99a7b4;
}
.last__section .container form input::placeholder {
  font-family: "Public Sans", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 167%;
  letter-spacing: -0.01em;
  text-align: center;
  color: #6c8294;
  font-weight: 700;
  text-align: unset;
  color: #99a7b4;
}
.last__section .container form button {
  width: 100%;
  height: 48px;
  border: none;
  background-color: #BA4270;
  border-radius: 24px;
  font-family: "Public Sans", sans-serif;
  font-weight: 700;
  font-size: 15px;
  color: #FBFCFE;
  margin-bottom: 0px;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .last__section {
    padding-top: 48px;
  }
  .last__section .container {
    width: 100%;
  }
  .last__section .container h2 {
    font-size: 48px;
  }
  .last__section .container form {
    width: 445px;
    height: 48px;
    -webkit-box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
            box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
    background-color: #fbfcfe;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 0px;
    padding-left: 27px;
    border-radius: 24px;
    margin-bottom: 16px;
  }
  .last__section .container form button {
    width: 173px;
  }
  .last__section .container form input {
    all: unset;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 0px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    padding-right: 17px;
    margin-bottom: 0;
  }
}
@media only screen and (min-width: 992px) {
  .last__section {
    padding-top: 48px;
  }
  .last__section .container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 0px;
  }
  .last__section .container h2 {
    font-size: 48px;
  }
  .last__section .container form {
    width: 445px;
    height: 48px;
    -webkit-box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
            box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
    background-color: #fbfcfe;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 0px;
    margin: 0;
    border-radius: 24px;
    margin-bottom: 16px;
  }
  .last__section .container form button {
    width: 173px;
  }
  .last__section .container form input {
    all: unset;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 0px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    padding-right: 17px;
    margin-bottom: 0;
  }
}
footer {
  margin-top: 80px;
  background-color: #1b262f;
  padding-top: 41px;
  padding-bottom: 55px;
  background-image: url("../../img/footer/footer__bg.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
}
footer .container .logo__Wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0px;
  margin-bottom: 40px;
}
footer .container .nav__Wrapper {
  width: 100%;
  margin-bottom: 39px;
}
footer .container .nav__Wrapper ul {
  width: 100%;
}
footer .container .nav__Wrapper ul li {
  width: 100%;
  text-align: center;
}
footer .container .nav__Wrapper ul li a {
  font-family: "Public Sans", sans-serif;
  font-weight: 700;
  font-size: 15px;
  color: #6d8395;
  margin-bottom: 0px;
  text-align: center;
}
footer .container .nav__Wrapper ul li:not(:last-child) {
  margin-bottom: 31px;
}
footer .container .nav__Wrapper ul li:hover a {
  color: #FBFCFE;
}
footer .container .social__media {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  footer {
    width: 100%;
    margin-top: 100px;
    padding-top: 31px;
    padding-bottom: 31px;
    background-image: url("../../img/footer/tablet__bg.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
  }
  footer .container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 0px;
    align-items: center;
  }
  footer .container .logo__Wrapper {
    width: auto;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 0px;
    margin-bottom: 0;
    margin-right: 64px;
  }
  footer .container .nav__Wrapper {
    all: unset;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 0px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  footer .container .nav__Wrapper ul {
    width: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 40px;
    height: 100%;
  }
  footer .container .nav__Wrapper ul li {
    width: auto;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 0px;
  }
  footer .container .nav__Wrapper ul li:not(:last-child) {
    margin-bottom: 0;
  }
  footer .container .social__media {
    width: auto;
  }
}