.last__section {
    width: 100%;
    padding-top: 80px;

    .container {
        width: 100%;

        h2 {
            @include text($title, 400, 32px, $tcolor, center, 24px);
        }

        form {
            width: 327px;
            margin: 0 auto;
            margin-bottom: 24px;

            input {
                border-radius: 24px;
                width: 100%;
                height: 48px;
                box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
                background: #fbfcfe;
                margin: 0 auto;
                margin-bottom: 16px;
                outline: none;
                border: none;
                padding-left: 27px;

                &::placeholder {
                    @include dec();
                    font-weight: 700;
                    text-align: unset;
                    color: #99a7b4;
                }
            }

            button {
                @include btn(100%, 48px, $btn, 24px);
                @include text($dec, 700, 15px, $white, center, 0px)
            }
        }
    }
}

@media only screen and (min-width:768px) {
    .last__section {
        padding-top: 48px;

        .container {
            width: 100%;

            h2 {
                font-size: 48px;
            }

            form {
                width: 445px;
                height: 48px;
                box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
                background-color: #fbfcfe;
                @include flex(unset, center, 0px);
                padding-left: 27px;
                border-radius: 24px;
                margin-bottom: 16px;

                button {
                    width: 173px;
                }

                input {
                    all: unset;
                    @include flex(unset, center, 0px);
                    flex-grow: 1;
                    padding-right: 17px;
                    margin-bottom: 0;
                }
            }
        }
    }
}

@media only screen and (min-width:992px) {
    .last__section {
        padding-top: 48px;

        .container {
            width: 100%;
            @include flex(space-between, center, 0px);

            h2 {
                font-size: 48px;
            }

            form {
                width: 445px;
                height: 48px;
                box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
                background-color: #fbfcfe;
                @include flex(unset, center, 0px);
                margin: 0;
                border-radius: 24px;
                margin-bottom: 16px;

                button {
                    width: 173px;
                }

                input {
                    all: unset;
                    @include flex(unset, center, 0px);
                    flex-grow: 1;
                    padding-right: 17px;
                    margin-bottom: 0;
                }
            }
        }
    }
}